# Logs
logs
*.log

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules

# all output files *-dbg.js and *-preload.js, jsdocs and zip distributive
build

# resorces for local server like `/sap/ui5/1/resources`
res

*.sublime-workspace
